article {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 25px 25px;
  border: 5px solid #e6e6e6;
  -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
  border-radius: 15px;
  background: #fff;
}

article a {
  font-weight: 600;
}

.item-block {
  position: relative;
  cursor: pointer;
  background: #f1f1f1;
  margin-bottom: 7px;
}

.item-text {    
  font-size: 18px;
  color: #333;
  padding: 11px 38px 11px 20px;   
  position: relative;
  font-weight: 300;
}

.h1, h1 {
  font-size: 30px;
  text-align: center;
}


.pdd-red {
  display: inline-block;
  color: #168a16;
  padding-right: 5px;
  font-weight: 700
}

.info-pdd {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px
}

.info-pdd>p>a {
  position: absolute;
  top: 10px;
  left: 50%
}

.info-pdd>p>a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 23px;
  background-color: #cfcfcf;
  margin-left: -20px
}

.img-pdd, .img-marking {
  text-align: center;
  margin-top: 15px;
}
.img-marking p{
  font-weight: bold;
}
.img-pdd img, .img-marking img {
  max-width: 100%;
  margin-bottom: 20px;
}
.img-pdd div {
  display: inline-flex;
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: 20px;
  padding: 0 12px;
  vertical-align: middle;
}

.img-pdd div img {
  margin: 0 auto;
  max-height: 73px;
}
.img-pdd div span {
  position: absolute;
  width: 76px;
  left: 12px;
  bottom: 4px;
  background-color: #168a16;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  color: #fff;
  line-height: 17px;
}